@media only screen and (max-width: 37.5em) {
  .nav-bar-container {
    font-size: 1rem;
    justify-content: center;
  }
  .main-img,
  .nav-item,
  .nav-btn {
    display: none;
  }
  .hero-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  .head-1 {
    text-align: center;
  }
  .hero-para {
    padding: 0%;
  }
  .sub-cntnt {
    height: 100%;
    margin-bottom: 50px;
  }
  .search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .search-box {
    width: 360px;
    height: 44px;
    margin-left: 28px;
  }

  .search-btn {
    width: 163px;
    height: 43px;
  }
  .search-item {
    flex-wrap: wrap;
  }
  .bottom-items {
    display: none;
  }
  .text-container {
    flex-direction: column;
    gap: 20px;
  }
  .text-box {
    flex-direction: column;
    padding: 20px;
  }
  .form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .email-container {
    width: 100%;
  }
  .user-container {
    flex-direction: column;
  }
  .freelance-container {
    flex-direction: column;
  }
  /* .last-container {
    flex-direction: column;
  } */
  .big-list {
    width: 250px;
    padding-right: 150px;
  }
  .container-6 {
    flex-direction: column;
  }
  .photo-container {
    height: auto;
  }

  .last-container {
    display: flex;
    flex-direction: column;
    margin: 0px;
  }
}
